
extends base

block append script
	- if ( process.env.FENV === 'development')
		script(type='text/javascript' src='/vendor.bundle.js')
		script(type='text/javascript' src='/edit.bundle.js')
	- else
		- if (bundle.vendor)
			script(type='text/javascript' src=`/${bundle.vendor}`)
		script(type='text/javascript' src=`/${bundle.edit}`)

block content
	div.container
		nav.navbar
			div.navbar__link(id='home')
				div.navbar__link--svgbox
					svg.navbar__link--svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 -27 512 512" style="transform: rotate(360deg);")
						path(d="M401.4 224h-214l83-79.4c11.9-12.5 11.9-32.7 0-45.2s-31.2-12.5-43.2 0L89 233.4c-6 5.8-9 13.7-9 22.4v.4c0 8.7 3 16.6 9 22.4l138.1 134c12 12.5 31.3 12.5 43.2 0 11.9-12.5 11.9-32.7 0-45.2l-83-79.4h214c16.9 0 30.6-14.3 30.6-32 .1-18-13.6-32-30.5-32z")
				div.navbar__link--text Home
			div.navbar__link(id='logout')
				div.navbar__link--text Logout
				div.navbar__link--svgbox
					svg.navbar__link--svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 -1 24 24" style="transform: rotate(360deg);")
						g(fill="none")
							path(d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1" stroke="#002fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
		div.pipes
			div.pipes__pipe.pipes__pipe--left
			div.pipes__pipe.pipes__pipe--right
		div.section.section--edit
			form.form.form--edit--data(autocomplete='off')
				h3.form__header--midtitle Update Your Data.
				div.form__body
					div.form__group.form__group--name
						input.form__group-input(id='nameInput' type='text' value=`${user.name}`)
						label.form__group-label(id='nameLabel' for='nameInput') Full Name
					div.form__group.form__group--email
						input.form__group-input(id='emailInput' type='email' value=`${user.email}`)
						label.form__group-label(id='emailLabel' for='emailInput') Email
					button.btn.btn__update-data(type='submit')
						span.btn__update-data--text Update Data
		div.pipes
			div.pipes__pipe.pipes__pipe--left
			div.pipes__pipe.pipes__pipe--right
		div.section.section--edit
			form.form.form--edit--profile(autocomplete='off')
				h3.form__header--midtitle Update Your Profile Photo.
				div.form__body
					div.form__group__profile
						- if (user.photo === 'default.png')
							img.form__group__profile--preview(id="uploadImagePreview" src=`/assets/images/${user.photo}`)
						- else
							img.form__group__profile--preview(id="uploadImagePreview" src=`${user.photo}`)
						input.form__group__profile--input(id="uploadImageInput" type="file" accept="image/*" name='photo')
						div.form__group__profile--links
							label.form__group__profile--remove(id='removeImageLabel') Remove Photo
							label.form__group__profile--select(id="uploadImageLabel" for='uploadImageInput') Select New Photo
					button.btn.btn__update-profile(type='submit')
						span.btn__update-profile--text Update Profile Photo
		div.pipes
			div.pipes__pipe.pipes__pipe--left
			div.pipes__pipe.pipes__pipe--right
		div.section.section--edit
			form.form.form--edit--pass(autocomplete='off')
				h3.form__header--midtitle Change Your Password.
				div.form__body
					div.form__group.form__group--curpass
						input.form__group-input(id='CurPassInput' type='password')
						label.form__group-label(id='CurPassLabel' for='passInput') Current Password
						img.eye-svg.eyesvgforcurpass(id='eyeSvgForCurPass' src='assets/svg/passShow.svg')
					div.form__group.form__group--newpass
						input.form__group-input(id='NewPassInput' type='password')
						label.form__group-label(id='NewPassLabel' for='passInput') New Password
						img.eye-svg.eyesvgfornewpass(id='eyeSvgForNewPass' src='assets/svg/passShow.svg')
					button.btn.btn__change-password(type='submit')
						span.btn__change-password--text Change Password